@import './scss/theme.scss';
@import './scss/mixins.scss';

.accordion {

    .item {
        margin-top: 28px;
        display: flex;

        &_button {
            position: relative;
            width: 20px;
            height: 20px;
            color: red;
            border: 1px solid black;
            border-radius: 50%;

            &:after {
                content: "+";
                display: flex;
                justify-content: center;
                align-items: center;

            }

            &--minus {
                &:after {
                    content: "-";
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            @include for-size(sm) {
                display: none;
            }
        }

        &_text {
            margin: 0 0 0 28px;

            &-description {
                display: none;

                @include for-size(sm) {
                    display: block;
                }

                &--active {
                    display: block;
                    color: red;
                }
            }
        }
    }

}

